/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F1ECE3; /* Color cálido */
}

.login-container {
    text-align: center;
    background: #F1ECE3;
    padding: 100px;
    border-radius: 40px;
    border: 6px solid #9FD4C7;  /* Agrega un borde azul */
    width: 800px;
}


.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    /*agregar el borde a la imagen y el color de fondo*/
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    margin-bottom: 20px;
    color: #847965;
    font-size: 40px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #847965;
    border-radius: 5px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #847965;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #504a3f;
}
